---
search_exclude: true
layout: none
---

<!doctype html>
<html lang="en">
{% include head.html %}

<body>
    {% include topnav.html search=false %}

	<section class="container mb-5">
        <div class="card border border-primary text-primary text-center">
            <div class="card-body">
                <h5 class="card-title fs-3">Our website is currently under construction. This is a sandbox.</h5>
                <p class="card-text">For feedback and/or any query, please contact jenny.ostrop@uib.no</p>
            </div>
        </div>
    </section>
	
  	<section id="search-section" class="bg-light py-5">
            <div class="container">
                <div class="row">
                    <h2 class="no-anchor text-center mb-3">Hva leter du etter?</h2>
                    <div class="position-relative">
                        <div class="d-flex justify-content-center">
                            <form role="search" class="input-group">
                                <span class="input-group-text" id="search-label"><i
                                        class="fa-solid fa-magnifying-glass"></i></span>
                                <input type="search" id="search-input"
                                    class="search-input form-control form-control-lg bg-white" tabindex="0"
                                    placeholder="Søk med nøkkelord" aria-label="Søk med nøkkelord"
                                    autocomplete="off">
                            </form>
                            <div id="search-results" class="search-results"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		
	<div class="landingpage">
        <section class="container mb-5">
            <div>
                <p class="text-center lead"> Prosjektet dHMp norge er en leveranse i prosjektet <a href="https://bibliotekutvikling.no/prosjektbank/prosjekt/datahandteringsplaner-stottepakke-for-norske-uh-bibliotek/" > Datathåndteringsplaner: støttepakke til norske UH-bibliotek </a>. Prosjektet skal etablere en helhetlig datahåndteringsplan-støttepakke som kan tas i bruk ved større og mindre UH-bibliotek.
				<br>
				<br>Prototypen vil oversettes til engelsk etter hvert.
				<br>(sannsynligvis som to separate repositorier som blir lenket til hverandre og siden for støttepersonell blir en tredje?)
                </p>
            </div>
        </section>
		
	<section class="bg-light pb-5">
            <div class="container">
                <h2 class="no-anchor text-center mb-3">Snarveier </h2>
                <!-- {%- assign sidebar = site.data.sidebars[page.sidebar] %} -->
                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
				    
					<!-- dmp nøkkelinformasjon -->
                    <div class="col">
                        <div class="card border bg-white h-100">
                            <img src="assets/img/section-icons/cheat_sheets.svg" class="card-img-top h-icon-5 mx-auto"
                                alt="cheat sheet icon">
                            <div class="card-body text-center">
                                <a href="cheat_sheets" class="stretched-link">
                                    <h3 class="card-title no-anchor text-primary"> DHP nøkkelinformasjon</h3>
                                </a>
                                <p class="card-text"> Kom i gang! En introduksjon til datahåndteringsplaner (DHP), oversikt over DHP-krav fra finansiører og institusjoner, og støtteressurs.</p>
                            </div>
                        </div>
                    </div>
                    
					<!-- dhp steg-for-steg -->
                    <div class="col">
                        <div class="card border bg-white h-100">
                            <img src="assets/img/section-icons/cheat_sheets.svg" class="card-img-top h-icon-5 mx-auto"
                                alt="cheat sheet icon">
                            <div class="card-body text-center">
                                <a href="cheat_sheets" class="stretched-link">
                                    <h3 class="card-title no-anchor text-primary"> DHP steg-for-steg</h3>
                                </a>
                                <p class="card-text"> Detaljert informasjon om innholdet i en datahåndteringsplan (DHP) basert på anbefalinger fra Norges Forskningsråd og Horizon Europe.</p>
                            </div>
                        </div>
                    </div>
					
					<!-- eksperthjelp -->
                    <div class="col">
                        <div class="card border bg-white h-100">
                            <img src="assets/img/section-icons/cheat_sheets.svg" class="card-img-top h-icon-5 mx-auto"
                                alt="cheat sheet icon">
                            <div class="card-body text-center">
                                <a href="cheat_sheets" class="stretched-link">
                                    <h3 class="card-title no-anchor text-primary"> Eksperthjelp</h3>
                                </a>
                                <p class="card-text"> Lokale og fagspesifikke støttetjenester for forskningsdatahåndtering. </p>
                            </div>
                        </div>
                    </div>
					
                </div>
            </div>
        </section>
        
		<section class="bg-light pb-5">
                  <div class="container">
                      <h2 class="no-anchor text-center mb-3"> Nyttige ressurser </h2>
                      <!-- {%- assign sidebar = site.data.sidebars[page.sidebar] %} -->
                      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
                        
					<!-- openscience.no -->
                    <div class="col">
                        <div class="card border bg-white h-100">
                            <img src="assets/img/section-icons/openscience_no.svg" class="card-img-top h-icon-5 mx-auto"
                                alt="openscience logo">
                            <div class="card-body text-center">
                                <a href="https://www.openscience.no/" target="_blank" class="stretched-link">
                                    <h3 class="card-title no-anchor text-primary"> openscience.no</h3>
                                </a>
                                <p class="card-text"> Nettstedet openscience.no redigeres av SIKT og gir generell informasjon om åpen forskning, særlig åpen tilgang, og veiledninger til forskere og institusjoner om hvordan man kan publisere, finansiere og få tilgang til forskningsresultater. </p>
                            </div>
                        </div>
					</div>
					
					<!-- RDMkit NO pages -->
					<div class="col">
						<div class="card border bg-white h-100">
							<img src="assets/img/section-icons/flag_no.svg" class="card-img-top h-icon-5 mx-auto"
								alt="norwegian flag with RDMkit logo">
							<div class="card-body text-center">
								<a href="https://rdmkit.elixir-europe.org/no_resources" target="_blank" class="stretched-link">
									<h3 class="card-title no-anchor text-primary"> Norwegian resources in RDMkit</h3>
								</a>
								<p class="card-text"> Resources, policies and laws relevant for life science data management in Norway in RDMkit</p>
							</div>
						</div>
					</div>
					
                </div>
            </div>
        </section>
        
		<section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 my-auto">
                        <img class="h-icon-6" src="{{ '/assets/img/section-icons/users-icon.svg' | relative_url }}"
                            alt="Contributors icon">
                    </div>
                    <div class="col-lg-7">
                        <h2>Du kan bidra!</h2>
                        <p>dHMp norge er en åpen ressurs i samarbeid mellom Universitsbibliotekene i Bergen, Oslo, Tromsø og Trondheim, ELIXIR Norway og PhD-on-Track. Alle kan bidra med vedlikehold eller sende inn forbedringsforslag!
							
						<p>For å sitere dHMp norge, vennligst bruk:
                            <div class="card border-1 my-4">
                              <div class="card-body">
                                <p class="card-text"><i>XXX</i></p>
                              </div>
                            </div>
                        </p>
                    </div>
                    <div class="col-lg-3 my-auto">
                        <a class="btn btn-primary btn-lg rounded-pill" href="{{ '/contribute/' | relative_url }}">Start
                            contributing</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {%- if site.theme_variables.back_to_top or site.theme_variables.back_to_top == nil %}
    <button id="back-to-top" class="btn btn-primary" type="button" aria-hidden="true" onclick="topFunction()">
        <i class="fa-solid fa-arrow-up"></i><span class="ms-2 d-none d-sm-inline">Back to top</span>
    </button>
    {%- endif %}
    {% include footer.html %}
    {% include cookie-popup.html %}
</body>

</html>
