---
search_exclude: true
layout: none
---

<!doctype html>
<html lang="en">
{% include head.html %}

<body>
    {% include topnav.html search=true %}
		
	<div class="landingpage">
        <section class="container mb-5">
            <div>
                <p class="text-center lead"> This webpage is the working platform for the 1-year project (October 2023-2024) <a href="https://www.uib.no/en/ub/166135/data-management-plans-support-package-norwegian-higher-education-libraries" > Data Management Plans: Support package for Norwegian higher education libraries.</a> All project results are available under an open license and text resources are maintained through an open contribution and maintenance process. A translation of the user-directed resources to Norwegian is planned at a later timepoint.
                </p>
            </div>
        </section>

		<!-- deliverables -->
		<section class="bg-light pb-5">
                  <div class="container">
                      <h2 class="no-anchor text-center mb-3"> About data management planning </h2>

                      <!-- {%- assign sidebar = site.data.sidebars[page.sidebar] %} -->
                      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
					  
					<!-- dmp purpose -->
                    <div class="col">
                        <div class="card border bg-white h-100">
                            <div class="card-body text-center">
                                <a href="/pages/support_00_dmp_purpose" class="stretched-link">
                                    <h3 class="card-title no-anchor text-primary"> Purpose of a Data Management Plan</h3>
                                </a>
                                <p class="card-text"> What is a Data Management Plan (DMP) and why should you write one?</p>
                            </div>
                        </div>
                    </div>

					<!-- planning considerations -->
					<div class="col">
                        <div class="card border bg-white h-100">
                            <div class="card-body text-center">
							    <a href="/pages/support_00_planning_considerations" class="stretched-link">
									<h3 class="card-title no-anchor text-primary"> Guiding questions pre-start/ pre-award</h3>
                                </a>
                                <p class="card-text"> A set of guiding questions to identify data management needs and challenges in a project. It is beneficial to take research data management into consideration already ahead of starting a research project, particularly if applying for external funding. </p>
								<img src="assets/img/section-icons/dsw-logo.svg" class="card-img-top h-icon-5 mx-auto"
                                alt="data stewardship wizard logo">
                            </div>
                        </div>
                    </div>

                 </div>
            </div>
        </section>

		<!-- deliverables -->
		<section class="bg-light pb-5">
                  <div class="container">
                      <h2 class="no-anchor text-center mb-3">For researchers writing a DMP </h2>

                      <!-- {%- assign sidebar = site.data.sidebars[page.sidebar] %} -->
                      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">

					<!-- local experts -->
                    <div class="col">
                        <div class="card border bg-white h-100">
                            <div class="card-body text-center">
                                <a href="/pages/support_00_local_disc" class="stretched-link">
                                    <h3 class="card-title no-anchor text-primary"> Find local and discipline-specific experts</h3>
                                </a>
                                <p class="card-text"> Get support from local data management experts and get inspired by discipline-rooted resources.</p>
                            </div>
                        </div>
                    </div>
					
					<!-- d2 - dmp template -->
					<div class="col">
                        <div class="card border bg-white h-100">
                            <div class="card-body text-center">
							    <!-- <a href="/pages/" class="stretched-link"> -->
									<h3 class="card-title no-anchor text-primary"> DMP questionnaire </h3>
                                </a>
                                <p class="card-text"> A set of DMP questionnaires/templates adapted to different user groups was implemented as discipline-agnostic knowledge model in the DMP-tool Data Stewardship Wizard.</p>
								<img src="assets/img/section-icons/dsw-logo.svg" class="card-img-top h-icon-5 mx-auto"
                                alt="data stewardship wizard logo">
                            </div>
                        </div>
                    </div>

					<!-- d3 - user info -->
					<div class="col">
                        <div class="card border bg-white h-100">
                            <div class="card-body text-center">
                                <a href="/pages/dmp_supporting_info/" class="stretched-link">
                                    <h3 class="card-title no-anchor text-primary"> Accompanying information resources </h3>
                                </a>
                                <p class="card-text"> Information pages accompanying each chapter in the DMP questionnaire to support researchers with filling out a DMP. </p>
                            </div>
                        </div>
                    </div>

                 </div>
            </div>
        </section>

		<!-- deliverables -->
		<section class="bg-light pb-5">
                  <div class="container">
                      <h2 class="no-anchor text-center mb-3"> For supporting staff </h2>

                      <!-- {%- assign sidebar = site.data.sidebars[page.sidebar] %} -->
                      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
					  
					<!-- 1 - knowledge base -->
                    <div class="col">
                        <div class="card border bg-white h-100">
                            <div class="card-body text-center">
                                <a href="/pages/dmp_knowledge_base/" class="stretched-link">
                                    <h3 class="card-title no-anchor text-primary"> Knowledge base for support staff</h3>
                                </a>
                                <p class="card-text"> The knowledge base for support personnel includes annotation of the Science Europe Practical Guide to the International Alignment of Research Data Management in the Norwegian context.</p>
                            </div>
                        </div>
                    </div>
					
					<!-- dmp reflections -->
                    <div class="col">
                        <div class="card border bg-white h-100">
                            <div class="card-body text-center">
                                <a href="/pages/dmp_reflections" class="stretched-link">
                                    <h3 class="card-title no-anchor text-primary"> Conceptual DMP reflections</h3>
                                </a>
                                <p class="card-text"> The project work involved conceptual reflections on DMPs which we believe can be of value to other national and international DMP projects.</p>
                            </div>
                        </div>
                    </div>

					<!-- project background -->
					<div class="col">
						<div class="card border bg-white h-100">
							<div class="card-body text-center">
								<a href="https://doi.org/10.5281/zenodo.10977711" target="_blank" class="stretched-link">
									<h3 class="card-title no-anchor text-primary"> Project background</h3>
								</a>
								<p class="card-text"> The project follows up on a recommendation on better and aligned Data Management Planning guidance in a collaborative project by the University libraries in Bergen, Oslo, Tromsø and Trondheim.
								<br>
								<br> The report <em>UB-BOTT-samarbeid om datahåndteringsplaner: kartlegging og anbefalinger </em> was published in December 2022.
								<br>
								<br> An update <em>Oppdatering på UB-BOTT-samarbeid om datahåndteringsplaner </em> was published in April 2024.</p>
							</div>
						</div>
					</div>
					
                 </div>
            </div>
        </section>
 
		<!-- contribute -->
		<section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 my-auto">
                        <img class="h-icon-6" src="{{ '/assets/img/section-icons/users-icon.svg' | relative_url }}"
                            alt="Contributors icon">
                    </div>
                    <div class="col-lg-7">
                        <h2>Welcome with your contributions!</h2>
                        <p><a href="https://www.uib.no/en/ub/166135/data-management-plans-support-package-norwegian-higher-education-libraries" > dHMp norge </a> is an open resource created by the University libraries at UiB, NTNU, UiO, UiT, ELIXIR Norway and PhD-on-Track. Everyone is welcome to contribute to this community project or suggest improvements! To cite dHMp, please use the following format:
                            <div class="card border-1 my-4">
                              <div class="card-body">
                                <p class="card-text"><i>Datahåndteringsplaner: støttepakke for norske UH-bibliotek. URL: <a href="https://github.com/DHP-stottepakke" > https://github.com/DHP-stottepakke</a></i></p>
                              </div>
                            </div>
                        </p>
                    </div>
                    <div class="col-lg-3 my-auto">
                        <a class="btn btn-primary btn-lg rounded-pill" href="{{ '/contribute/' | relative_url }}">Start
                            contributing</a>
                    </div>
                </div>
            </div>
        </section> 
	</div>
    {%- if site.theme_variables.back_to_top or site.theme_variables.back_to_top == nil %}
    <button id="back-to-top" class="btn btn-primary" type="button" aria-hidden="true" onclick="topFunction()">
        <i class="fa-solid fa-arrow-up"></i><span class="ms-2 d-none d-sm-inline">Back to top</span>
    </button>
    {%- endif %}
    {% include footer.html %}
    {% include cookie-popup.html %}
</body>

</html>
