---
search_exclude: true
layout: none
---

<!doctype html>
<html lang="en">
{% include head.html %}

<body>
    {% include topnav.html search=false %}

	<section class="container mb-5">
        <div class="card border border-primary text-primary text-center">
            <div class="card-body">
                <h5 class="card-title fs-3">Our website is currently under construction. This is a sandbox.</h5>
                <p class="card-text">For feedback and/or any query, please contact research-data@uib.no</p>
            </div>
        </div>
    </section>
	
  	<section id="search-section" class="bg-light py-5">
            <div class="container">
                <div class="row">
                    <div class="position-relative">
                        <div class="d-flex justify-content-center">
                            <form role="search" class="input-group">
                                <span class="input-group-text" id="search-label"><i
                                        class="fa-solid fa-magnifying-glass"></i></span>
                                <input type="search" id="search-input"
                                    class="search-input form-control form-control-lg bg-white" tabindex="0"
                                    placeholder="What are you looking for?" aria-label="Søk med nøkkelord"
                                    autocomplete="off">
                            </form>
                            <div id="search-results" class="search-results"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		
	<div class="landingpage">
        <section class="container mb-5">
            <div>
                <p class="text-center lead"> This webpage is a working platform for the project <a href="https://www.uib.no/en/ub/166135/data-management-plans-support-package-norwegian-higher-education-libraries" > Data Management Plans: Support package for Norwegian higher education libraries </a> led by the University of Bergen and with contributors from the Norwegian University of Science and Technology, the Univesity of Oslo, UiT The Arctic University of Norway, PhD-On-Track, and ELIXIR Norway. The project is supported by the National Library of Norway.
				<br The resulting support package under open license will contain both a knowledge base for support personnel, short texts for use in digital DMP tools, and supplementing information resources for researchers and students both in Norwegian and English.
                </p>
            </div>
        </section>
		
	<section class="bg-light pb-5">
            <div class="container">
                <h2 class="no-anchor text-center mb-3">More information </h2>
                <!-- {%- assign sidebar = site.data.sidebars[page.sidebar] %} -->
                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
				    
					<!-- project page -->
					<div class="col">
						<div class="card border bg-white h-100">
							<img src="assets/img/uib-logo.svg" class="card-img-top h-icon-5 mx-auto"
								alt="uib logo">
							<div class="card-body text-center">
								<a href="https://www.uib.no/en/ub/166135/data-management-plans-support-package-norwegian-higher-education-libraries" target="_blank" class="stretched-link">
									<h3 class="card-title no-anchor text-primary"> Project page</h3>
								</a>
								<p class="card-text"> More information about the project Data Management Plans: Support package for Norwegian higher education libraries</p>
							</div>
						</div>
					</div>
                    
					<!-- dmp tool report -->
					<div class="col">
						<div class="card border bg-white h-100">
							<div class="card-body text-center">
								<a href="https://doi.org/10.5281/zenodo.7428542" target="_blank" class="stretched-link">
									<h3 class="card-title no-anchor text-primary"> UB-BOTT-samarbeid om datahåndteringsplaner: kartlegging og anbefalinger</h3>
								</a>
								<p class="card-text"> Report and recommendations from a collaborative project by the University libraries in Bergen, Oslo, Trondheim and Tromsø on evaluation different DMP tools. </p>
							</div>
						</div>
					</div>
					
                </div>
            </div>
        </section>
        
		<section class="bg-light pb-5">
                  <div class="container">
                      <h2 class="no-anchor text-center mb-3"> Useful resources </h2>
                      <!-- {%- assign sidebar = site.data.sidebars[page.sidebar] %} -->
                      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
                        
					<!-- local experts -->
                    <div class="col">
                        <div class="card border bg-white h-100">
                            <div class="card-body text-center">
                                <a href="support_local_disc" class="stretched-link">
                                    <h3 class="card-title no-anchor text-primary"> Support services</h3>
                                </a>
                                <p class="card-text"> Find local or discipline specific Data Management experts.</p>
                            </div>
                        </div>
                    </div>
					
					<!-- openscience.no -->
                    <div class="col">
                        <div class="card border bg-white h-100">
                            <img src="assets/img/section-icons/openscience_no.svg" class="card-img-top h-icon-5 mx-auto"
                                alt="openscience logo">
                            <div class="card-body text-center">
                                <a href="https://www.openscience.no/" target="_blank" class="stretched-link">
                                    <h3 class="card-title no-anchor text-primary"> openscience.no</h3>
                                </a>
                                <p class="card-text"> Nettstedet openscience.no redigeres av SIKT og gir generell informasjon om åpen forskning, særlig åpen tilgang, og veiledninger til forskere og institusjoner om hvordan man kan publisere, finansiere og få tilgang til forskningsresultater. </p>
                            </div>
                        </div>
					</div>
					
					<!-- RDMkit NO pages -->
					<div class="col">
						<div class="card border bg-white h-100">
							<img src="assets/img/section-icons/flag_no.svg" class="card-img-top h-icon-5 mx-auto"
								alt="norwegian flag with RDMkit logo">
							<div class="card-body text-center">
								<a href="https://rdmkit.elixir-europe.org/no_resources" target="_blank" class="stretched-link">
									<h3 class="card-title no-anchor text-primary"> Norwegian resources in RDMkit</h3>
								</a>
								<p class="card-text"> Resources, policies and laws relevant for life science data management in Norway in RDMkit</p>
							</div>
						</div>
					</div>
					
                </div>
            </div>
        </section>
        
		<section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 my-auto">
                        <img class="h-icon-6" src="{{ '/assets/img/section-icons/users-icon.svg' | relative_url }}"
                            alt="Contributors icon">
                    </div>
                    <div class="col-lg-7">
                        <h2>Welcome with your contributions!</h2>
                        <p><a href="https://www.uib.no/en/ub/166135/data-management-plans-support-package-norwegian-higher-education-libraries" > dHMp norge </a> is an open resource created by the University libraries at UiB, NTNU, UiO, UiT, ELIXIR Norway and PhD-on-Track. Everyone is welcome to contribute to this community project or suggest improvements! To cite dHMp, please use the following format:
                            <div class="card border-1 my-4">
                              <div class="card-body">
                                <p class="card-text"><i>Datahåndteringsplaner: støttepakke for norske UH-bibliotek. URL: <a href="https://github.com/DHP-stottepakke" > https://github.com/DHP-stottepakke</a></i></p>
                              </div>
                            </div>
                        </p>
                    </div>
                    <div class="col-lg-3 my-auto">
                        <a class="btn btn-primary btn-lg rounded-pill" href="{{ '/contribute/' | relative_url }}">Start
                            contributing</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {%- if site.theme_variables.back_to_top or site.theme_variables.back_to_top == nil %}
    <button id="back-to-top" class="btn btn-primary" type="button" aria-hidden="true" onclick="topFunction()">
        <i class="fa-solid fa-arrow-up"></i><span class="ms-2 d-none d-sm-inline">Back to top</span>
    </button>
    {%- endif %}
    {% include footer.html %}
    {% include cookie-popup.html %}
</body>

</html>
