
/*-----General styling-----*/
$font-family-theme: 'Open Sans', sans-serif;

/*-----Top navigation-----*/
$topnav-bg: #474747;
$topnav-brand-height: 65px;
$topnav-searchbar: $white;

/*-----More information tiles-----*/
$info-card-bg: $light;
$info-card-color: $dark;
$info-card-bg-hover: $primary;
$info-card-color-hover: $white;

/*-----Sidebar-----*/
$sidebar-title-bg: $light;
$sidebar-link-color-active: $white;
$sidebar-link-bg-active: $primary; 

/*-----Section navigation tiles-----*/
$nav-card-bg: $light;
$nav-card-color: $dark;
$nav-card-bg-hover: $light;
$nav-card-color-hover: $dark;

/*-----Footer-----*/
$footer-bg: #474747;
$footer-color: $white;
$footer-link-color: $white;
$footer-link-color-hover: $light-x;
$footer-copyright-bg: #00000033;

/*-----Events & news-----*/
$news-border-color: $dark;


/*-----Metadata-----*/
$page-metadata-bg: $light;
$page-metadata-link-bg: $light;
$contr-popover-bg: $primary;
